<head>
  <meta charset="UTF-8">
  <title>タイトルをつけてみた!</title>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  p {color: #666;
     width:500px;}
  /* ここがCSSのコメント */
  div {color: #666666;
       width: 500px;
       margin-top:20px;
       margin-right:auto;
       margin-left:auto;}
  span {color:#009900;}
  h1 {color:#006600;
       font-size:30px;}
  img {float:left;
        margin-right:20px;
        border-style: none;}
  a {font-size: 150%;
     font-weight: bold;
     color: #FF6666;
     text-decoration: none;}
  a:hover {color: #9900FF;
            text-decoration: underline;
            font-style: italic;}
  p#goto-profile a {
    background: url(../image/101031_btn2.gif) no-repeat left top;
    width: 140px;
    height: 36px;
    display: block;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
  }
  p#goto-profile a:hover{
    background: url(../image/101031_btn2_1.gif) no-repeat right top;
    width: 140px;
    height: 36px;
    display: block;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
  }
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #666;
    font-family:Arial, sans-serif;
    line-height: 18px;
    background: #9F737C;
  }
  #container {
    width: 600px;
    margin: 0px auto;
    padding: 30px;
    background: #fff;
  }
   header {
    padding: 30px;
    background: #333;
    color: #FFF;
  }
   h1 {
    font-weight: bold;
    font-size: 240%;
  }
  footer {
    font: bold 80%/1em Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: center;
    padding: 10px;
    background: #000;
  }
 </head>